.container {
    padding: 4em 0;
}

.col-md-6 {
    border-left: 0.5px solid black;
}

.col-md-6, .col-md-3 {
    padding: 2em;
    border-top: 0.5px solid black;
    border-right: 0.5px solid black;
    border-bottom: 0.5px solid black;
}

.btn {
    margin: 4px;
}

/* .button-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;

}
.button-container button {
    flex: 1;
    width: 100px;
} */